*{
	padding: 0px;
	margin: 0px;
	font-family: Roboto Condensed;
	color:#373A3C;
}

body{
	margin-top:40px;
	margin-left:510px;
}

div{
	display:inline-block;
	width: 300px;
	margin-left:-4px;
	transform: top 1s ease-in-out;
}

div:hover{
	width: 400px;
}