*{
    margin:0px;
    padding:0px;
    font-family: Arial;
    font-size: 16px;
}

body{
	background-image: url(image/footer_lodyas.png);
}

.buttons{
	text-align: center;
}

.change{
	background: #ccc;
	cursor: default;
	display: inline-block;
	border:2px groove #556677;
	padding: 10px;
	margin: 30px;
}

.passive:hover{
	cursor: pointer;
	background:#445566;
	color:#eeffff;
}

.passive:active{
	cursor: progress;
	background:#334455;
	color:#eeffff;
}

.active{
	background:#778899;
	color:#ddeeff;
}

#japantable{
	display: none;
}

table{
	margin:0 auto;
	border: 4px groove #aabbcc;
	margin-bottom:50px;
}

td{
	border:2px groove #778899;
	width:400px;
	padding: 7px 15px;
}

tr:nth-child(2n-1){
	background:#aabbcc;
}

tr:nth-child(2n){
	background:#ccbbaa;
}

td:nth-child(2n-1){
	text-align: right;
}