*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

#page{
    width: 800px;
    margin:0 auto;
}

#head{
    height: 589px;
    width: 800px;
    background-image: url(images/head.png);
    background-size: 128%;
    background-position: center;
}

#head>#name-site{
    font-family: Copyright House Industries;
    font-size: 90px;
    color:white;
    text-align: center;
    padding-top:70px;
    cursor:default;
}

#menu{
    width: 405px;
    margin: 5px auto;
    text-transform: uppercase;
}

#menu li{
    list-style: none;
    display: inline-block;
}

#menu a{
    text-decoration: none;
    color:white;
    font-size: 13px;
    margin-right: 50px;
}

#menu li:first-child a{
    color:rgb(182, 182, 182);
}

#menu li:last-child a{
    margin:0px;
}

#menu a:hover{
    color:rgba(255, 255, 255, 0.81);
}

#menu a:active{
    color:rgba(255, 255, 255, 0.37);
}

#menu li:first-child a:hover{
    color:rgb(182, 182, 182);
    cursor:default;
}

#menu li:first-child a:active{
    color:rgb(182, 182, 182);
}


#head-text-1 {
    font-size:53px;
    color:white;
    text-align: center;
    margin-top:31px;
    cursor:default;
}

#head-text-2{
    text-align: center;
    font-size:16px;
    color:white;
    margin-top:30px;
    text-transform: uppercase;
    position:relative;
    cursor:default;
}

#head-text-2:before{
    content: '';
    width: 100px;
    height: 2px;
    background:rgba(128, 128, 128, 0.60);
    position:absolute;
    top:7px;
    left:155px;
}

#head-text-2:after{
    content: '';
    width: 100px;
    height: 2px;
    background:rgba(128, 128, 128, 0.60);
    position:absolute;
    top:7px;
    left:545px;
}

#button{
    margin:50px auto;
    text-align: center;
}

#button a{
    display: inline-block;
    padding-top:15px;
    opacity: .99;
    cursor: pointer;
    background:#50C3AF;
    height: 45px;
    width: 220px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color:white;
    font-size: 15px; 
}

#button a:hover{
    background:#5cdcc6;
}

#button a:active{
    background:#3a877a;
}

#button-border{
    border:3px solid rgba(128, 128, 128, 0.60);
    width:347px;
    height:63px;
    margin: -74px auto;
}